 @font-face {
  font-family: hack;
  src: url("Hack-Bold.ttf");
}
 @font-face {
  font-family: gentona;
  src: url("Gentona.otf");
}
html, body{
	background-color: rgb(239, 167, 167);
	/*height:138%;*/
	padding: 0;
	margin:0;
}
.cont{
	position: relative;
	width:100%;
	height:100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}
.container{
	display:grid;
	width:100%;
	height:100%;
	grid-template-columns: 10% 35% auto 35% 10%;
  	grid-template-rows: 100%;
  	align-items: center;

}
.names{
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 1;
  	grid-row-end: 2;
}
.name{
	position: relative;
	font-family: hack;
	font-size:70px;
	/*opacity: 0;*/
	width:30%;
	animation-iteration-count: infinite;
	z-index: 7;
}
.desc{
	background-color: #bac287;
	padding:30px;
	grid-column-start: 4;
  	grid-column-end: 5;
  	grid-row-start: 1;
  	grid-row-end: 2;
  	min-height:50%;
  	font-family: 'Roboto', sans-serif;
  	z-index: 7;
}
.desc h1 {
	font-size:50px;
	color:#8a0000;;
}
.desc p{
	color:white;
	font-size: 20px;
	margin-top:100px;
}
.a{
	color: gray;
	animation-name: a1;/*,          a2;*/
    animation-duration: 16s;/*,     2s;*/
    animation-delay: 0s;/*,          0s;*/
    animation-fill-mode: none;/*   forwards;*/
}
.b{
	color: gray;
	animation-name: b1;/*,          b2;*/
    animation-duration: 16s;/*,     2s;*/
    animation-delay: 0s;/*,          0s;*/
    animation-fill-mode: none;/*   forwards;*/
}
.c{
	color: gray;
	animation-name: c1;/*,          c2;*/
    animation-duration: 16s;/*,     2s;*/
    animation-delay: 0s;/*,          0s;*/
    animation-fill-mode: none;/*   forwards;*/
}
.d{
	color:gray;
	animation-name: d1;/*,          d2;*/
    animation-duration: 16s;/*,     2s;*/
    animation-delay: 0s;/*,          0s;*/
    animation-fill-mode: none;/*   forwards;*/
}

.gola{
	height:100px;
	width:100px;
	background-color: #cb199d;
	border-radius: 50px;
	position: absolute;
	z-index:5;
	margin-top: -50px;
	margin-left: -50px;
	animation-timing-function: ease-in-out;

}
.g1{
	top:10%;
	left: 30%;
	animation-name:g2;
	animation-duration: 20s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
.g2{
	top:70%;
	left: 20%;
	background-color: #7ebc5e;
		animation-name:g1;
	animation-duration: 30s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
.g3{
	top:70%;
	left:85%;
	background-color: #8c0606;
	z-index: 8;
		animation-name:g3;
	animation-duration: 25s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
@keyframes g1{
	0%{top:35%;left:100%;}
	100%{top:85%;left:0%;}
}
@keyframes g2{
	0%{top:25%;left:0%;}
	100%{top:0%;left:50%;}
}
@keyframes g3{
	0%{top:100%;left:40%;}
	100%{top:70%;left:100%;}
}
.ci{
	height:26px;
	border-radius: 13px;
	width: 26px;
	position: absolute;
	background-color: #d2d00b;
}
.c1{
	top:10%;
	left: 10%;
}
.c2{
	top:50%;
	left: 90%;
}
.c3{
	top:10%;
	left: 20%;
}
.c4{
	top:55%;
	left: 69%;
}
.c5{
	top:70%;
	left: 40%;
}
.c6{
	top:65%;
	left: 70%;
}
.c7{
	top:40%;
	left: 50%;
}
.c8{
	top:90%;
	left: 60%;
}
.c9{
	top:800%;
	left: 30%;
}
.line{
	height:10px;
	width: 400%	;
	background-color: #7d4f4f;
	position:absolute;
	z-index:4;
	margin-right: -200%;
}
.l1{
	top:50px;
	right:50%;


	transform: rotate(-10deg);
}
.l2{
	top:500px;
	right:50%;
	transform: rotate(100deg);
}


@keyframes a1 {
	0%{color:gray;}
	11% {color:green;}
	22% {color:gray;}
	25% {color:gray;}
	36% {color:gray;}
	47% {color:gray;}
	50% {color:gray;}
	61% {color:gray;}
	72% {color:gray;}
	75% {color:gray;}
	86% {color:gray;}
	97% {color:gray;}
	100% {color:gray;}
}

@keyframes b1 {
	0%{color:gray;}
	11% {color:gray;}
	22% {color:gray;}
	25% {color:gray;}
	36% {color:yellow;}
	47% {color:gray;}
	50% {color:gray;}
	61% {color:gray;}
	72% {color:gray;}
	75% {color:gray;}
	86% {color:gray;}
	97% {color:gray;}
	100% {color:gray;}
}
@keyframes c1 {
	0%{color:gray;}
	11% {color:gray;}
	22% {color:gray;}
	25% {color:gray;}
	36% {color:gray;}
	47% {color:gray;}
	50% {color:gray;}
	61% {color:blue;}
	72% {color:gray;}
	75% {color:gray;}
	86% {color:gray;}
	97% {color:gray;}
	100% {color:gray;}
}
@keyframes d1 {
	0%{color:gray;}
	11% {color:gray;}
	22% {color:gray;}
	25% {color:gray;}
	36% {color:gray;}
	47% {color:gray;}
	50% {color:gray;}
	61% {color:gray;}
	72% {color:gray;}
	75% {color:gray;}
	86% {color:white;}
	97% {color:gray;}
	100% {color:gray;}
}

@keyframes a2 {
	0%{margin-top: 0;opacity:0;}
	100%{margin-top: 0px;opacity:1;}
}
@keyframes b2 {
	0%{margin-top: 0;opacity:0;}
	100%{margin-top: 84px;opacity:1;}
}
@keyframes c2 {
	0%{margin-top: 0;opacity:0;}
	100%{margin-top: 168px;opacity:1;}
}
@keyframes d2 {
	0%{margin-top: 0;opacity:0;}
	100%{margin-top: 252px;opacity:1;}
}
.projs{
	height: 300px;
	width:100%;
	display:grid;
	grid-template-columns: 1fr;
  	grid-template-rows: 1fr;
  	align-items: center;
  	justify-items: center;
  	background-color: #c79451;
}
.projs div{
	padding:0;
	margin:0;
	font-size:10vh;
	height:15vh;
	font-family: 'Quantico', sans-serif;
	z-index:10;
	color:#3e69d2;
}
.projs div span{
	padding:10px;
	padding-left:50px;
	padding-right:50px;
}
.proj {
	display:grid;
	width:100%;
	height:80vh;
	grid-template-columns: 500px 500px;
  	grid-template-rows: 250px 250px;
  	background-color: #c79451;
/*  	align-items: center;
  	justify-items: center;*/
  	align-content: space-evenly;
  	justify-content: space-evenly;
}
.proj .p {
	padding: 0;
	margin: 0;
	color:white;
	width: 500px;
	height:250px;
	position: relative;

	z-index: 10;
	overflow-x: hidden;
	overflow-y: hidden;
	transition: all 0.5s ease;
	background-size: cover;
}
.proj .z{
	position: relative;
	top:10px;
		padding: 0;
	margin: 0;
	width: 500px;
	height: 250px;
	transition: all 0.5s ease;
}
.proj .p p{
	font-family: arial;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 50%;
	margin-top: -10px;
}
.proj .z1{
	background-color: #c37a7a;
}
.proj .p1{
	background-image: url("a.png");
}
.proj .p2{
	background-image: url("techesta.JPG");
}
.proj .p3{
	background-image: url("c.png");
}
.proj .p4{
	background-image: url("d.png");

}
.proj .p:hover .z{
	opacity: 0;
}
.proj .p:hover .li2{
	top:-50px;
}
.proj .z2{
	background-color: #b01616;
}
.proj .z3{
	background-color: #6b1e1e;;
}
.proj .z4{
	background-color: #ad8696;;
}
.lin{
	height:10px;
	width: 400%	;
	background-color: yellow;
	position:absolute;
	z-index:4;
	margin-right: -200%;
	top:-20px;
	right:50%;
	transform: rotate(20deg);
	transition: all 0.5s ease;
}
.li1{
	top:-20px;
}
.li2{
	top:-20px;
}
a{
	  	text-decoration: none;
}
hr{
	width:100%;
	border-color: black;
	margin:0;
}
@media only screen and (max-device-width: 480px){
.cont{
	height: 180vh;
}
.container{
	width:100vw;
	grid-template-columns: 5% 90% 5%;
  	grid-template-rows: 100vh 70vh;
}
.names{
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 1;
  	grid-row-end: 2;
}
.name{
	font-size:50px;
}
.desc{
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 2;
  	grid-row-end: 3;
}
.c5{
	top: 110vh;
	left:0vw;
}
.c7{
	top:50vh;
	left:70vw;
}
.gola{
	animation-name: none;
}
.line{
	display: none;
}
.proj {
	grid-template-columns: 100%;
  	grid-template-rows: 250px 250px 250px 250px;
}
/*.proj {
	grid-template-columns: 100%;
  	grid-template-rows: 10px 250px 10px 250px 10px 250px 10px 250px;
}
.p1{
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 2;
  	grid-row-end: 3;
}
.p2{
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 4;
  	grid-row-end: 5;
}
.p3{
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 6;
  	grid-row-end: 7;
}
.p4{
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 8;
  	grid-row-end: 9;
}*/

.proj .p{
	width:100vw;
	transition: none;
	background-position: center;
}
.proj .p p{
	opacity:1;
	z-index: 100;
	position: absolute;
	top:90%;
	color:white;
	margin-left: 20px;
}
.proj .z{
	width: 100vw;
	margin-top: -10px;
	background-position: center;
	background-size: cover;
}
.lin{
	transition: none;
	display: none;
}
.projs{
	font-size:20px;
	text-align: center;	display:block;
	width:100vw;
	height:290px;
}
.projs div{
	font-size:50px;
}
.li2{
	top:-50px;
}
.proj .z1{
	background-image: url("a.png");
}
.proj .z2{
	background-image: url("techesta.JPG");
}
.proj .z3{
	background-image: url("c.png");
}
.proj .z4{
	background-image: url("d.png");

}
