@font-face {
    font-family: 'minecraft1';
    src: url('minecraft.ttf');
}
body, html{
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#cont{
	height: 100vh;
	width: 100vw;
}
#nav{
	position: absolute;
	top:20px;
	left:20px;
	width: 23px;
	height: 30px;
	overflow: visible;
	z-index: 22;
}
.bar {
  width: 23px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}
#c{
	padding: 10px;
	border: solid 1px black;
	position: absolute;
	top:20px;
	left:58px;
	font-family: minecraft;
	width:120px;
	display: none;
}
#c p{
	margin: 0;
	text-decoration: underline;
	cursor: pointer;
}
#title{
	height: 15vh;
	text-align: center;
	font-size:8vh;
	padding-top: 3vh;
	padding-bottom: 2vh;
	box-sizing: border-box;
}
#gri{
	display: grid;
	grid-template-columns: 500px 500px;
    grid-template-rows: 250px 250px;
    align-content: space-evenly;
    justify-content: space-evenly;
    height: 85vh;
}
.tiles{
	background-color: white;
	text-align:center;
	border: 2px solid black;
	overflow: hidden;
	cursor: pointer;
}
.tiles .p1{
	font-size:25px;
	position: relative;
	top:50%;
	margin-top: -20px;
	transition: all 1s ease;
}
.tiles .p2{
	font-size:18px;
	position: relative;
	top:100%;
	transition: all 1s ease;
}
.tiles:hover .p1{
	margin-top: -50px;
}
.tiles:hover .p2{
	margin-top: -25%;
}